.container {

}
button {
    height: fit-content;
    width: 150px;
    background: green;
}
input {
    height: fit-content;

}
.search-block {
    margin: 20px 0;
}

.element {
    margin-bottom: 50px;
}